################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/NP.Auction.Client/.vs/NP.Auction.Client/v16
